body{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.heading{
    justify-content: center;
    display: flex;
    font-size: 50px;
}
.form{
    background-color: white;
    border-radius: 5px;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -250px;
    margin-bottom: -250px;
}

.form-body{
    margin-left: 80px;
    text-align: left; 
    margin-bottom: -250px;
    
}


.form__label{
   
    float: left;
    width: 10em;
    margin-right: 1em;
    text-align: left;
    
  
}

.form__input{
float: left;
width: 20em;
margin-right: 1em;
text-align: left;
margin-bottom: .5rem;
}

.footer{
    justify-content: center;
}